.header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: #dad3b7;
  border-bottom: 3px solid #213b54;
}
.header img {
  width: 120px;
}
.loginBlock a {
  color: white;
}
.authUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authUser span {
  font-size: 1em;
  font-weight: 700;
}
.authUser button {
  border: none;
  background: none;
  font-size: 12px;
  transition: 0.2s all;
}
.authUser button:hover {
  color: #a91e23;
}